body {
    /* background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%); */

    background-image: url('assets/img/might-guy-profile.jpg');

    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;

}

.card-body-bg {
    background-color: rgb(140,163,104);
    border: 4px solid black;
}