body {
    /* background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%); */

   
    margin: 0;
    padding: 0;
    height: 100vh;
}

.hero {
    position: relative;
   

}

.card-body-bg {
    background-color: rgb(140, 163, 104);
    border: 3px solid black;
}

/* v-cloak styling. Ensures disabled components are not rendered upon refresh. */
[v-cloak] {
    display: none;
}

/* @media screen and (min-width: 1920px) {

    .card-body-bg {
        background-color: rgb(140, 163, 104);
        border: 5rem solid black;
    }

   
} */

@media (min-width: 1px) {
    h5 {
        font-size: .5rem;
    }

    p {
        font-size: .5rem;
    }

    /*1rem = 16px*/
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 200px) {
    h5 {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }

    /*1rem = 16px*/
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
    h5 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.5rem;
    }

    /*1rem = 16px*/
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    h5 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.8rem;
    }
    /*1rem = 16px*/


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h5 {
        font-size: 2rem;
    }

    p {
        font-size: 2rem;
    }
    /*1rem = 16px*/
}

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
    h5 {
        font-size: 2.5rem;
    }
    
    p {
        font-size: 2.5rem;
    }

   

  
} */
